body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    --fb-blue:rgb(0, 123, 255);

    flex-direction: column;
    background-color: rgb(243, 244, 246);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: var(--fb-blue);
}

header{
    display: flex;
    gap: 10px;
    align-items: center;
}

header > img{
    height: 50px;
    width: 50px;
}

hr{
    width: 90%;
}

form{
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
}
form > p{
    text-align: center;
}
main{
    margin-top: 50px;
    background-color: white;
    padding: 0 20px 30px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-weight: 700;
    text-align: left;
    padding-left: 10px;
}
.inp-login{
    width: 300px;
    padding:20px 0 5px 10px ;
    border-radius: 10px;
    margin-bottom: 20px;
    border:1.5px solid rgba(60, 58, 58, 0.434)
}

.lbl{
    position: relative;
}

.inp-lbl{
    position: absolute;
    top: 12px;
    left: 10px;
    transition: all 250ms ease;
    color:rgba(60, 58, 58, 0.694) ;
}
.inp-login:focus{
    outline-color: var(--fb-blue) ;
}
.inp-login:focus ~ .inp-lbl , .translate{
    transform: translateY(-8px);
    font-size: 12px;
}
.inp-login:focus ~ .inp-lbl {
    color: var(--fb-blue);
}
#login{
    background-color: var(--fb-blue);
    border: none;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    padding: 10px 0;
}
#login:hover{
    background-color: rgb(16, 118, 208);
    cursor: pointer;
}
#create{
    padding: 10px 90px;
    background-color: white;
    border: 1.5px solid var(--fb-blue);
    color: var(--fb-blue);
    font-weight: 550;
    border-radius: 20px;
}
#create:hover{
    cursor: pointer;
}
.forgotPass:hover{
    cursor: pointer;
    text-decoration: underline;
}